<li class="media mt-2 px-3 pb-2" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
  <%= image_tag follower.avatar_url(120), size: '40x40', class: 'mr-3 rounded-circle' %>
  <div class="media-body">
    <div>
      <span class="mt-0 mb-1 h6" style="
      font-size: 14px;
      "><%= link_to(follower.fullname, user_timeline_path(follower.moniker), style: "color: #009688;") %></span>
      <%= link_to('@' + follower.moniker, user_timeline_path(follower.moniker), style: "color: #009688;") %>
    </div>

    <%= follower.description %>
  </div>
</li>