<div class="card">
  <div class="card-body">
    <div><span class="h6">Who to follow</span> .
      <span class="small">
        <a href="#" style="color: #009688;">Refresh</a> ·
        <%= link_to "View all", who_to_follow_relationships_path, style: "color: #009688;" %>
      </span>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <% user.who_to_follow.each do |u| %>
      <%= render 'posts/who_to_follow_sidebar', user_to_follow: u %>
    <% end %>
  </ul>
</div>

<div class="card mt-3">
  <div class="card-body">
    © 2018 Mayowa Yakub
  </div>
</div>
