<div class="row">
  <div class="col-3">
    <%= render 'user_card', user: current_user %>
  </div>
  <div class="col-6">
    <ul class="list-unstyled card pb-5">
      <%= render "form", post: current_user.posts.new %>
      <%= render @posts %>
    </ul>
  </div>
  <div class="col-3">
    <%= render 'sidebar', user: current_user %>
  </div>
</div>
